flats/.metadata/**
flats/target/**
flats/.settings/**

/flats/src/main/resources.application.properties

.metadata/**
.recommenders/**
RemoteSystemsTempFiles/**
Servers/**
*.classpath
*.jar
*.project
*.class
